<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049326434616-s983edigr85ndq42jr3m1u4ruhgedmcd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049326434616-s983edigr85ndq42jr3m1u4ruhgedmcd</string>
	<key>API_KEY</key>
	<string>AIzaSyAlB1l4P5PgJyRlIJgpNBOI_C1ycSUq9Kc</string>
	<key>GCM_SENDER_ID</key>
	<string>1049326434616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flowers23.market</string>
	<key>PROJECT_ID</key>
	<string>flowersapp-48a32</string>
	<key>STORAGE_BUCKET</key>
	<string>flowersapp-48a32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049326434616:ios:cd62bc6328666b9bc869cd</string>
</dict>
</plist>